<div class="container">
	<h1>NHL Drafter</h1>
	<ul class="list-unstyled">
	{% if request.user.is_authenticated %}
	<li>{{ user }}</li>
	{% endif %}
	<li><a href="{% url 'homepage' %}">Home</a></li>
	<li><a href="{% url 'team-list' %}">NHL Teams</a></li>
	{% if not request.user.is_authenticated %}	
	<li><a href="{% url 'user_register' %}">Register</a></li>
	<li><a href="{% url 'login' %}">Login</a></li>
	{% endif %}
	{% if request.user.is_authenticated %}
	<li><a href="{% url 'create_league' %}">Create League</a></li>
	<li><a href="{% url 'logout' %}">Logout</a></li>
	{% endif %}
	</ul>
</div>