{% extends "base.html" %}

{% block content %}
<h1>Live Drafter</h1>
<br>
<h2><strong>{{ league.name }}</strong></h2>
<h3>Squads</h3>
<ol>
{% for squad in squads %}
	<li><strong>{{ squad }}</strong> | {{ squad.owner }}</li>
	<ul>
	{% for player in squad.players.all %}
		<li>{{ player }}, {{ player.team.shortform }}, {{ player.points }}</li>
	{% endfor %}
	</ul>
{% endfor %}
</ol>
{% if league.is_active and drafter.is_active %}
<h3>Current Pick</h3>
<p>{{ drafter.overall_pick }} of {{ drafter.total_picks }} | Round: {{ drafter.current_round }} | {{ squad_picking.owner }} </p>
<p>draft turn: {{ drafter.draft_turn }}</p>
<h3>Available players</h3>
	<form method="POST"> {% csrf_token %}
		<div class="form-group">	
		{{ player_form.as_p }}
		<button type="submit" name="draft" class='btn btn-success'>Draft</button>
		<div>
	</form>

<br>
<h3>Filter</h3>

<form method="POST"> {% csrf_token %}
	<button type="submit" name="f_filter" class='btn btn-primary'>Forwards</button>
	<button type="submit" name="d_filter" class='btn btn-primary'>Defence</button>
	<button type="submit" name="g_filter" class='btn btn-primary'>Goaltenders</button>
</form>

<hr>
<form method="POST"> {% csrf_token %}
	<div class="form-group">	
	{{ team_form.as_p }}
	<button type="submit" name="team_filter" class="btn btn-success">Select Team</button>
	<div>
</form>
{% elif not league.is_active %}
<p>The commissioner has not activated this league yet!</p>
	{% if request.user == league.admin %}
	<form method="POST">{% csrf_token %}
		<button type="submit" name="activate_league" class='btn btn-primary'>Activate League</button>
	</form>
	{% endif %}
{% else %}
<p>Draft is complete! Good luck.</p>
{% endif %}
{% endblock %}